
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" type="text/css" href="../css/global.css">
</head>
<body>

<header>
  <h1><a class="appTitle" href="/">TinyApp</a></h1>
  <div class="loginStatus">
    <% if (locals.user) { %>
      <span class="loginText">Logged in as </span><span class="loginID"><%= user.email %></span><form method="POST" action="/logout"><input type="submit" value="Log Out" class="headerButton"></form>
    <% } else { %>
      <form method="GET" action="/login"><input type="submit" value="Log In" class="headerButton"></form> <form method="GET" action="/register"><input type="submit" value="Register" class="headerButton"></form>
    <% } %>
  </div>
</header>