<% include ./partials/_header %>

<h2>Register</h2>
<form method="POST" action="/register">
  <label for="email">Email Address:</label><input type="email" name="email"><br>
  <label for="pwd">Password:</label><input type="password" name="pwd"><br>
  <br>
  <input type="submit" value="Submit">
</form>
<% if (locals.userExists) { %>
  <span class="err">A user with that email address already exists</span>
<% } else if (locals.invalidData) { %>
  <span class="err">Invalid email address or password</span>
<% } %>

<% include ./partials/_footer %>