<% include ./partials/_header %>

<h2>Edit a URL</h2>

<table>
  <tr>
    <th>Short URL</th>
    <th>Destination</th>
  </tr>
  <tr>
    <td><input type="text" readonly class="shortURL" value="<%= shortURL %>"></td>
    <form method="POST" action="/urls/<%= shortURL %>">
      <td><input type="text" class="longURL" name="newURL" value="<%= longURL %>"></td>
      <td><input type="submit" value="Update"></td>
    </form>
  </tr>
</table>

<% include ./partials/_footer %>