<% include ./partials/_header %>
<h2>Your URLs</h2>
<table>
  <tr>
    <th>Short URL</th>
    <th>Destination</th>
  </tr>
  <% Object.keys(urls).forEach(key => { %>
    <tr>
      <td><input type="text" readonly class="shortURL" value="<%= key %>"></td>
      <td><input type="text" readonly class="longURL" value="<%= urls[key].url %>"></td>
      <td><form method="GET" action="/urls/<%= key %>"><input type="submit" value="Edit"></form></td>
      <td><form method="POST" action="/urls/<%= key %>/delete?_method=DELETE"><input type="submit" value="Delete"></form></td>
    </tr>
  <% }); %>
</table>
<br>
<form method="GET" action="/urls/new"><input type="submit" value="Shorten a URL" class="shortenButton"></form>

<% include ./partials/_footer %>
