<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <% Object.keys(urls).forEach(key => { %>
    <li><%= key %> - <%= urls[key] %></li>
  <% }); %>
  <a href="#">Shorten a URL</a>
</body>
</html>