<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
  form { display: inline-block }
  </style>
</head>
<body>
  <% include ./partials/_header %>
  <table>
    <% Object.keys(urls).forEach(key => { %>
      <tr>
        <td><%= key %></td>
        <td><%= urls[key] %></td>
        <td><form method="POST" action="/urls/<%= key %>/delete"><input type="submit" value="Delete"></form></td>
      </tr>
    <% }); %>
  </table>
  <br>
  <a href="#">Shorten a URL</a>
</body>
</html>