<% include ./partials/_header %>

<h2>Your URLs</h2>
<div class="blockWrapper">
<div class="colWrapper">
  <aside class="colLeft">
    <h4>Short URL</h4>
    <% Object.keys(urls).forEach(key => { %>
      <input type="text" readonly class="shortURL" value="localhost:8080/u/<%= key %>">
      <br>
    <% }); %>
  </aside>
  <section class="colCenter">
    <h4>Destination</h4>
    <% Object.keys(urls).forEach(key => { %>
      <input type="text" readonly class="longURL" value="<%= urls[key].url %>">
      <br>
    <% }); %>
  </section>
  <aside class="colRight">
    <h4>&nbsp;</h4>   <!-- To keep the vertical alignment -->
    <% Object.keys(urls).forEach(key => { %>
      <form method="GET" action="/urls/<%= key %>"><input type="submit" value="Edit"></form>
      <form method="POST" action="/urls/<%= key %>/delete?_method=DELETE"><input type="submit" value="Delete"></form>
      <br>
    <% }); %>
  </aside>
</div>
</div>
<br><br>
<form method="GET" action="/urls/new"><input type="submit" value="Shorten a URL" class="shortenButton"></form>

<% include ./partials/_footer %>